* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem 10%;
    background-color: rgb(241, 244, 247);
}

.big-container {
    padding: 1rem 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 1px solid rgb(235, 235, 235);
    /* box-shadow: rosybrown; */


}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

#header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

.nav-bar .brand a {
    color: rgb(62, 50, 105);
}

.nav-bar .brand a:hover{
    color: rgb(236, 100, 37);
    font-size: 1.5rem;
}

.nav-bar .nav-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .nav-list ul li a {
    letter-spacing: 0.1rem;
    padding: 20px;
    display: block;
}

.nav-bar .nav-list ul li a:hover {
    font-weight: bold;
}


.nav-bar .nav-list ul li a:hover span {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(236, 100, 37);
}


.nav-bar .btns {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-bar .btn {
    margin: 5px;
    padding: 8px;
    background-color: rgb(236, 100, 37);
    border-radius: 20px;
}

.nav-bar .btn a {
    margin: 10px;
    color: white;
    font-weight: bold;
}

.nav-bar .btn1 {
    background-color: white;
}

.nav-bar .btn1 a {
    color: black;
}

/* header section ends here */

/* hero section here */

#hero .hero-container {
    display: flex;
    margin-top: 30px;
    background-color: rgb(254, 251, 247);
    border-radius: 50px;
    /* padding: 10px; */
}

#hero .col-left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: rgb(254,251,247); */
    /* border-radius: 50px 0 0px 50px; */
}

#hero .col-left h1 {
    font-size: 2.4rem;
    width: 60%;
    margin-top: 6rem;
    color: rgb(38, 14, 75);
    letter-spacing: 2px;
}

#hero .col-left p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 80%;
    line-height: 25px;
    color: rgb(168, 167, 165);
}

#hero .col-left .btns {
    width: 63%;
    display: flex;
    justify-content: space-between;
}



#hero .col-right img {
    height: 30rem;
}

#hero .content {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 20px;
}

#hero .content h3 {
    color: rgb(49, 26, 84);
    font-size: 16px;
}

#hero .content h3 i {
    padding-right: 5px;
}


#hero .content p {
    width: 65%;
    margin-left: 25px;
    margin-top: 10px;
    line-height: 25px;
    color: rgb(167, 167, 167);
}

/* features section starts here */

#features h2 {
    width: 37%;
    margin: auto;
    text-align: center;
    color: rgb(62, 50, 105);
    margin-top: 35px;
    margin-bottom: 5px;
}

#features h1 {
    width: 37%;
    margin: auto;
    text-align: center;
    color: rgb(62, 50, 105);
    margin-top: 15px;
    margin-bottom: 5px;
}



#features hr {
    width: 5%;
    margin: auto;
    background-color: red;
    height: 2.5px;
    border: none;
}

#features .content {
    display: flex;
    padding: 50px;

}

.content .image-container1 {
    height: 300px;
    width: 500px;
    background-position: center;
    background-image: url(./images/22222222222.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin-right: 20px;
    /* z-index: 1; */
}



.content .image-container1 h3 {
    color: white;
    margin: 15px;
    font-weight: bolder;
    z-index: 1;
    margin-top: 30px;
    margin-left: 30px;

}

.content .image-container1 p {
    /* margin-top: 30px; */
    margin-left: 30px;
    color: white;
    width: 35%;
    line-height: 25px;

}

.content .image-container2 img {
    height: 150px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 25px;
}

#features .down p {
    color: rgb(188, 188, 188);
    margin: auto;
    width: 60%;
    margin-top: 15px;
}

#features .remarks {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#features .remarks p {
    color: rgb(93, 116, 130);
    font-size: 15px;
}


#features .remarks .first h1 {
    color: rgb(196, 32, 130);
}

#features .remarks .second h1 {
    color: rgb(41, 48, 217);
}

#features .remarks .third h1 {
    color: rgb(247, 210, 43);
}

/* blog section starts here */

#blog .content {
    display: flex;
    padding-top: 50px;
    margin-bottom: 40px;
}

.content .col-left {
    background-color: rgb(254, 249, 244);
    border-radius: 100%;
}

.content .col-left img {
    /* height: 350px; */
}

.content .col-right {
    margin-top: 50px;
    margin-left: 40px;
    padding: 10px;
}

.content .col-right h1 {
    width: 65%;
    margin-bottom: 15px;
    color: rgb(92, 81, 129);
}

.content .col-right p {
    width: 65%;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 15px;
    color: rgb(142, 135, 167);
}

.content .col-right .btn {
    width: 22%;
    margin: 5px;
    padding: 8px;
    background-color: rgb(236, 100, 37);
    border-radius: 20px;
}

.content .col-right .btn a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* pricing section starts here */

#pricing .content h1 {
    width: 37%;
    margin: auto;
    text-align: center;
    color: rgb(62, 50, 105);
    margin-top: 15px;
    margin-bottom: 5px;
}

#pricing .content hr {
    width: 5%;
    margin: auto;
    background-color: red;
    height: 2.5px;
    border: none;
}

#pricing .scroll-container {
    /* position: relative; */
    display: flex;
    overflow: auto;
    margin-top: 30px;
    /* background-color: rgb(243, 243, 243); */
    border-radius: 35px;
}

#pricing .scroll-container .image {
    padding: 5px;
    height: 200px;
    border-radius: 35px;
    /* cursor: pointer; */
}

#pricing .scroll-container img:hover {
    cursor: pointer;
}

/* footer starts here */

#footer .content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;
}

#footer .content .footer-container h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(63, 52, 106);
}

#footer .content .footer-container ul li a {
    color: rgb(168, 171, 184);
    font-size: 0.9rem;
}

#footer .content .footer-container ul li a:hover {
    color: rgb(62, 50, 105);
    font-weight: bold;
}

#footer .content .footer-container ul li a:hover span {
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(62, 50, 105);

}

#footer .content .footer-container ul li {
    padding-bottom: 5px;
}


#footer hr {
    background-color: red;
    height: 1.5px;
    border: none;
    margin-bottom: 15px;
}


#footer .footer-down{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#footer .footer-down p{
    color: rgb(168, 171, 184);
}


#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
  }
  
  #footer .social-item{
    margin: 5px 5px;
  }
  
  #footer .social-item img{
    height: 25px;
    filter: grayscale(1);
    transition: o.3s ease filter;
  }
  
  #footer .social-item:hover img{
    filter: grayscale(0);
  }
  
 

